.social-media-icons {
    text-align: center;
    margin: 0;
}

.social-media-icons .social-svg {
    text-align: center;
}

.social-media-icon {
    display: inline-block;
    margin: 0rem 0.5rem 0;
    width: 30px;
    height: 30px;
}

/* Add subtle load-in animation for content on the home page */
.social-media-icon {
    -webkit-animation: fade-in-down 0.9s;
    animation: fade-in-down 0.9s both;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}


.social-media-icon .social-svg {
    color: red;
    background: white;
}

.social-media-icon .social-svg:hover {
    color: green;
    background: gold;
}


/* ==========================================================================
       Media Queries - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width: 900px) {
    .social-media-icon {
        display: inline-block;
        margin: 0rem 0.5rem 0;
        width: 40px;
        height: 40px;
    }
}

/* ==========================================================================
       Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .social-media-icon {
        display: inline-block;
        margin: 0rem 0.5rem 0;
        width: 35px;
        height: 35px;
    }
}
